*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins', sans-serif;
background:#7E1C13;
color:white;
}

img{
max-width:100%;
display:block;
}

a{
text-decoration:none;
color:inherit;
}

button{
border:none;
cursor:pointer;
}

html{

scroll-behavior:smooth;

}
section{

scroll-margin-top:100px;

}