.menu-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:40px;

}

.food-card{

background:#1E2528;

border-radius:16px;

padding:20px;

text-align:center;

transition:0.3s;

}

.food-card img{

border-radius:12px;

margin-bottom:15px;

}

.food-card:hover{

transform:translateY(-10px);

box-shadow:0 20px 40px rgba(0,0,0,0.3);

}