.hero{

min-height:900px;

background:linear-gradient(
180deg,
#550001 5%,
#760C0E 100%
);

padding-top:20px;

}
.hero-wrapper{

display:flex;

align-items:center;

justify-content:space-between;

gap:120px;

padding-top:40px;

}

.btn-primary{

display:inline-block;

background:#FF4A4A;

color:white;

font-weight:600;

padding:16px 32px;

border-radius:12px;

border:2px solid #BF0A0D;

font-family:'Poppins', sans-serif;

transition:all .3s ease;

box-shadow:
0 6px 0 #BF0A0D,
0 10px 20px rgba(0,0,0,0.2);

}

.btn-primary:hover{

transform:translateY(-3px);

box-shadow:
0 4px 0 #BF0A0D,
0 15px 30px rgba(0,0,0,0.3);

}

.btn-primary:active{

transform:translateY(2px);

box-shadow:
0 2px 0 #BF0A0D;

}

.hero-left{

max-width:550px;

}

.hero-right img{

width:420px;

border-radius:28px;

box-shadow:0 20px 60px rgba(0,0,0,0.4);

}

.food-card{

background:var(--color-dark);

padding:20px;

border-radius:16px;

display:flex;
align-items:center;
gap:20px;

margin-top:30px;
margin-bottom:30px;

}
.hero-image{

position:relative;

width:420px;

border-radius:28px;

overflow:hidden;

}

.hero-image::before{

animation:glow 6s infinite alternate;

}

@keyframes glow{

from{
opacity:0.6;
transform:scale(1);
}

to{
opacity:0.9;
transform:scale(1.1);
}

}

.hero-image::before{

content:"";

position:absolute;

width:120%;
height:120%;

top:-10%;
left:-10%;

background:radial-gradient(
circle,
rgba(191,10,13,0.6),
transparent 70%
);

filter:blur(40px);

z-index:-1;

}

.hero-title{

position:relative;

font-family:'Oswald', sans-serif;
font-size:100px;

}

.title-main{

position:relative;

color:#E6E1C2;

z-index:2;

}

.title-shadow{

position:absolute;

left:-6px;
top:4px;

color:#BF0A0D;

z-index:1;

}

.reveal{

opacity:0;

transform:translateY(40px);

transition:all .8s ease;

}

.reveal.active{

opacity:1;

transform:translateY(0);

}


@media (max-width:1024px){

.hero-wrapper{

flex-direction:column;

text-align:center;

gap:60px;

}

.hero-right img{

width:340px;

}

.hero-title{

font-size:70px;

}

}

@media (max-width:600px){

.hero-title{

font-size:48px;

}

.hero-subtitle{

font-size:20px;

}

}

