.featured-menu{

padding:120px 0;

background:#6D9788;

}


.menu-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:40px;

margin-top:60px;

}

.food-card:hover{

transform:translateY(-8px);

box-shadow:0 20px 40px rgba(0,0,0,.3);

}

.stars{

color:#FFD700;

font-size:14px;

}

.price{

font-size:16px;

opacity:.8;

margin-bottom:8px;

}

.food-info h3{

font-size:20px;

margin-bottom:8px;

}

.food-card img{

width:180px;

margin:auto;

margin-bottom:20px;

}

.food-card{

background:#1E2528;

border-radius:20px;

padding:30px;

text-align:center;

transition:.3s;

}

.location-hours{

display:flex;
flex-direction:column;

gap:8px;

margin-bottom:20px;

}

@media(max-width:900px){

.menu-grid{

grid-template-columns:1fr 1fr;

}

}

@media(max-width:600px){

.menu-grid{

grid-template-columns:1fr;

}

}