.testimonials{

padding:120px 0;

background:#1E2528;

}

.testimonials{

padding:120px 0;

background:#1E2528;

}

.testimonials-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:40px;

margin-top:60px;

}

.testimonial-card{

background:#2A0D0D;

padding:30px;

border-radius:20px;

text-align:center;

transition:0.3s;

}

.testimonial-card img{

width:80px;
height:80px;

border-radius:50%;

object-fit:cover;

margin:auto;
margin-bottom:15px;

}

.testimonial-card h3{

margin-bottom:10px;

font-family:'Oswald', sans-serif;

}

.testimonial-card p{

font-size:14px;

line-height:1.6;

opacity:0.8;

margin-top:10px;

}

.testimonial-card:hover{

transform:translateY(-8px);

box-shadow:0 20px 40px rgba(0,0,0,0.4);

}

@media(max-width:900px){

.testimonials-grid{

grid-template-columns:1fr 1fr;

}

}

@media(max-width:600px){

.testimonials-grid{

grid-template-columns:1fr;

}

}